body {
  margin: auto;
  background: linear-gradient(to top, #ecffe0, #a0f777);
}

/* NAV BAR */
.zone {
  color:#FFF;
  font-size:2em;
  border-radius:4px;
  border:1px solid #bbb;
  transition: all 0.3s linear;
}
.navmain {
  display: flex;
  list-style: none;
  margin: 0;
  align-items: center;
}
.push { 
  margin-left: auto;
  margin-right: 10px;
  text-align: left;
}

.black {
  background: #fff1d9;
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

#myBtn{
  background-color: #d8b476;
  width: 50px;
  height: 50px;
}

#myBtn:hover{
  background-color: dimgrey;
}
/* MODAL */
.modal-content {
  background-color: #EBEBEB;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* SLIDES */
* {box-sizing:border-box}

.slideContainer {
display: none;
border-style: ridge;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
height: 489px;
margin: auto;
max-width: 98%;
position: relative;
margin-top: 10px;
}

.mySlides {
display: none;
}

.mySlides img {
height: 482px;
}

.prev, .next {
cursor: pointer;
position: absolute;
top: 50%; 
width: auto;
padding: 16px;
color: rgb(90, 90, 90);
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

.next {
right: 0;
border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
background-color: rgba(224, 224, 224, 0.534);
}

.active, .dot:hover {
background-color: #717171;
}

/* PRODUCTS */

.prodContainer{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  font-family: 'Comic Neue', cursive;
}

.prodContainer >ul:hover{
transform: scale(1.1);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prodContainer > ul{
  width: 250px;
  height: 220px;
  margin: 10px;
  list-style: none;
  border: 3px double #9c7802;
  border-radius: 5px;
  background: linear-gradient(to bottom, #fffae0, #f7d977);
}

.prodContainer > ul > img{
padding-right: 10%;
}

.prodContainer > ul > button{
background-color: #d8b476;
color: black;
font-weight: bold;
font-family: 'Teko', sans-serif;
}

.prodContainer > ul > button:hover{
background-color: #ffc400;
color: black;
font-weight: bold;
}
/* ADDED TO CART */
.cartContainer {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  font-family: 'Comic Neue', cursive;
}

.cartContainer >ul:hover{
transform: scale(1.1);
}

.cartContainer > ul{
  width: 200px;
  height: 158px;
  margin: 10px;
  list-style: none;
  border: 3px double #9c7802;
  border-radius: 5px;
  background: linear-gradient(to bottom, #fffae0, #f7d977);
}


@media only screen and (min-width: 768px) {
  .slideContainer {
    display: block;
    }
}

@media only screen and (min-width: 414px) {
  .prodContainer{
    padding: 0;

  }

  .ulProd{
    width: 100%;
    /* height: 10%; */
    margin: 5px 0 0 0;
  }

  .prodContainer > ul > img{
    padding-right: 0;
    width: 60%;
    height: 50%;
    }

  .priceTxt {
    width: 50px;
    margin: 0;
  }


}